
  
  .randomClass .mat-form-field {
    width: 50%;
  }
  
  .randomClass form {
    margin-bottom: 20px;
  }
  
  
  
  .mat-raised-button{
      width: 20%;
      height: 10%;
      float: right;
  }
  span{
    
    color: red;
    
    
  }
  label{
    
    display: table-cell;
  }
.mat-form-field{
  display: table-cell;
  clear: none;
}
  .randomClass {
    width: 100%;
    display: inline-table;
  }
  .b{
    
    display: inline-table;
    width: 70%;
    
  }
  
  