.example-spacer {
    flex: 1 1  auto;
  }
   .row2 {background-color: yellow;}
   .main {
    //width:100%;
    display: flex;
    justify-content: center;
    
    
    //margin-top: -100px;
    
}
  // .main{
  //   display: block;
  //   margin: 0 auto;
  // }
  td.mat-cell {
    border-bottom-style: none;
  }



  